
@font-face {
    font-family: "AvantGarde";
    src: url("https://fontsforyou.com/fonts/a/Avantgarde.ttf");
}

:root {
    --SoftBlack: #101010; /* Основной цвет кнопки */
    --DeepBlue: #1B355B; /* Цвет кнопки при наведении */
    --CosmicLatte: #FFF8E7; /* Цвет плашки */
}

body {
    background: var(--SoftBlack);
    color: var(--CosmicLatte);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Raleway, Helvetica, sans-serif;
}

div {
    display: inherit;
    flex-direction: inherit;
}

img {
    vertical-align: middle;
    border-style: none;
}

#logo {
    height: 35vh;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}
@media screen and (max-width: 720px) {
    .logo {
        height: 125px;
        vertical-align: middle;
        position: relative;
    }
}

h1 {
    font-weight: bold;
    font-size: 50pt;
    line-height: 1;
    margin-top: 0;
}

p{
    font-size: 15pt;
    line-height: 1.35;
    text-indent: -25px;
}

.section, body div {
    padding: 200px 200px;
}

.btn {
    display: inline-flex; /* Используем inline-flex, чтобы кнопка не растягивалась на всю ширину */
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 4em; /* Добавляем внутренние отступы для текста */
    position: relative; /* Важно для позиционирования псевдоэлемента */
    transition: 0.15s ease;
    overflow: hidden; /* Обрезаем всё, что выходит за пределы кнопки */
    width: max-content;
    cursor: pointer;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%; /* Занимает половину ширины кнопки */
    background-color: var(--SoftBlack);
    border-top: 1.5px solid white;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
    transition: all 0.25s ease;
    z-index: -1;
}
.btn:hover {
    background-color: transparent;
}
.btn:hover::before {
    left: 50%; /* Сдвигаем плашку вправо */
    background-color: var(--DeepBlue);
    border-color: transparent;
}
