:root {
    --cardborder: var(--BrightBlue);
}

.cv header nav ul::after {
    content: " / Портфолио";
    color: slategray;
}


@media (max-width: 1079px) {
    .cv #skills .portfolio {
        --columngap: 2.5rem;
        gap: 1.5rem;
    }
}

.cv .contact {
    display: none;
    position: fixed;
    bottom: 0; right: 0;
    min-width: var(--padding); height: max-content;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 3;
    padding: 1.5rem;
    opacity: 0.35;
}
.cv .contact:hover {
    opacity: 1;
}

.cv .contact:hover .btn {
    background-color: var(--SoftBlack);
}

.cv .contact .btn[download]::after {
    content: ".pdf";
    color: var(--BrightBlue);
    transition: all 150ms ease;
}
.cv .contact .btn[download]:hover::after {
    color: var(--CosmicLatte);
}


.cv .portfolio + #skills {
    margin-top: calc(var(--sectiongap) * 1.5);
}

.cv #skills h2 {
    position: absolute;
    left: calc(0px - var(--padding));
    top: calc(-0.75em - var(--sectiongap));
    font-size: 10rem;
}

.cv #skills ul {
    grid-template-columns: repeat(5, auto);
    padding-left: 0;
    padding-bottom: 0;
}

.cv #skills ul li {
    list-style: none;
    border: solid 1rem var(--cardborder);
    padding: 1.5rem 1rem 2rem 1.5rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
    ), var(--cardborder);
    box-shadow: var(--textShadow);
}
@media (max-width: 768px) {
    .cv #skills ul li {
        width: 100%;
    }
}

.cv #skills ul li h3 {
    color: var(--cardborder);
}

.cv #skills ul li * + :is(p, h4) {
    margin-top: 0.25em;
}

.cv #skills .btn {
    height: 2.75rem;
    margin: 1em 0.5em 0 0;
    padding: 0.5em 2em;
    border-radius: 1.5em;
    min-width: 10em; max-width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}
.cv #skills .btn::before {
    border: 1.5px solid var(--cardborder);
    border-right: none;
    border-radius: 1.5em 0 0 1.5em;
}
.cv #skills .btn:hover::before{
    border-radius: 0 1.5em 1.5em 0;
    background-color: var(--cardborder);
}

.cv details {
    position: relative;
    top: -0.25rem;
}

.cv #skills ul li h4 {
    color: var(--cardborder);
    font-size: 0.75rem;
}

.cv #skills ul li a + h4 {
    margin-top: 2em;
}

.cv #skills * + details {
    margin-top: 0;
}

.cv #skills details > summary {
    padding: 0;
}

.cv #skills details > summary::before {
    left: -0.35em;
    top: -0.5em;
    font-size: 2em;
    color: black;
    text-shadow: 0 0 10px var(--cardborder);
    z-index: 0;
}

.cv #skills details[open] > summary::before {
    transform: rotate(90deg);
}

.cv #skills details > summary h3 {
    position: relative;
    z-index: 2;
}



.cv #skills ul li.ps {
    grid-column: span 3;
    --cardborder: #22B9EE;
}

.cv #skills ul li.ai {
    grid-column: span 3;
    --cardborder: #F97914;
}

.cv #skills ul li.id {
    grid-column: span 2;
    --cardborder: #EC4793;
}

.cv #skills ul li.figma {
    grid-column: span 2;
    --cardborder: #FF3737;
}

.cv #skills ul li.css {
    grid-column: span 2;
    --cardborder: #663199;
}

.cv #skills ul li.llm {
    grid-column: span 1;
    --cardborder: #00A680;
}

.cv #skills ul li.ae {
    grid-column: span 1;
    --cardborder: #D391F2;
}

.cv #skills ul li.ch {
    grid-column: span 1;
    --cardborder: #9B9BFF;
}



.cv #CTA {
    align-items: end;
    gap: 1.5rem;
}

.cv #CTA .message {
    position: relative;
    width: 100%;
    background-color: var(--DeepBlue);
    grid-column: 1 / 5;
    padding: 1.25rem 1.5rem;
    border-radius: 0.5rem;
}
/* CSS-треугольник на десктоп */
.cv #CTA .message::after {
    content: "";
    position: absolute;
    bottom: 0.5rem; right: -1.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.5rem 1.5rem 0 0;
    border-color: var(--DeepBlue) transparent transparent transparent;
}

.cv #CTA a {
    grid-column: 5;
}
.cv #CTA .tg {
    text-align: right;
}
/* На мобилки */
@media (max-width: 800px) {
    .cv #CTA {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .cv #CTA .message {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .cv #CTA .message::after {
        content: "";
        position: absolute;
        bottom: -1.5rem; right: calc(var(--sectiongap) / 1.5);
        width: 0; height: 0;
        border-style: solid;
        border-width: 1.5rem 1.5rem 0 0;
        border-color: var(--DeepBlue) transparent transparent transparent;
    }
    .cv #CTA .tg {
        padding-right: calc(var(--sectiongap) / 2.5);
    }
}
