/* 1. hero-секция */
#hero {
    background-image: url(../../img/page/home/hero1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-attachment: fixed;
    background-color: black;
    color: var(--SoftBlack);
    display: block;
    padding: var(--sectiongap) 0 0;
}


#hero h1,
#hero nav a {
    text-shadow:
        0 0 100px cornflowerblue,
        0 0 65px var(--CosmicLatte),
        0 0 10px tan,
        0 0 1.5px gold,
        0 0 0.5px white;
}

#hero h1 {
    margin: calc(var(--sectiongap) / 2) var(--padding);
    z-index: 2;
}
@media (max-width: 768px) {
    #hero h1 {
        text-align: center;
    }
    #hero {
        background-position-y: 15%;
    }
    #hero nav a{
        text-shadow: unset;
        color: cornflowerblue;
    }
    #hero nav a:visited{
        text-shadow: unset;
        color: var(--BrightBlue);
    }
}

#hero::before {
    content: "Превращаю ценности в продающий триггер";
    font-family: Unovis100;
    font-size: 13vw;
    line-height: 0.5em;
    color: grey;
    text-shadow:
        1.5px 1.5px 0 silver,
        -1.5px -1.5px 0 silver,
        -1.5px 1.5px 0 silver,
        1.5px -1.5px 0 silver;
    mix-blend-mode: overlay;
    position: absolute;
    left: 0;
    width: 100vw;
    bottom: 326px;
    display: none;
}
#hero nav,
#hero div {
    margin: 0 var(--padding);
    display: grid;
    grid-template-columns: var(--grid);
    column-gap: 75px;
}

#hero nav *,
#hero div * {
    grid-column: 3 / -1;
}

#hero ul {
    margin: 1em 0 0;
}

#hero div {
    color: var(--CosmicLatte);
    background: var(--SoftBlack);
    margin: 0;
    padding: 2em var(--padding) var(--sectiongap);
    row-gap: 0.5em;
}

#hero a {
    margin: 0;
}

@media (min-width: 769px){
    #hero .logo {
        background: url(/assets/img/logo/Kc_logo_full_logo_raster_lght.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
        border: none;
    }
}

/* Семантически правильное меню сайта */
nav {
    grid-auto-flow: row;
}
nav a {
    display: block;
    color: var(--DeepBlue);
    text-decoration: none;
}
nav a:hover {
    color: var(--BrightBlue);
}
#hero a:visited {
    color: var(--DeepBlue);
}

nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    margin: 0.5rem 0 0;
}

/* 2. Value-секция */

#value {
    padding-top: 0;
}

/* украшаю направляющими. Как же проклято выглядят стили, ё-моё */
#value::before,
#value::after,
#value ul::before,
#value ul::after {
    content: url(../../img/patterns/guides.svg);
    position: absolute;
    opacity: 0.35;
    width: 0;
    height: 0;
    overflow: visible;
    grid-column: 1 / -1;
}
#value::before {
    left: 0;
    top: var(--sectiongap);
    rotate: 180deg;
}
#value::after {
    right: 0;
    top: var(--sectiongap);
    rotate: -90deg;
}
#value ul::before {
    left: 0;
    bottom: var(--sectiongap);
    rotate: 90deg;
}
#value ul::after {
    right: 0;
    bottom: var(--sectiongap);
}
@media screen and (max-width: 768px) {
    #value::before,
    #value::after,
    #value ul::before,
    #value ul::after {
        display: none;
    }
}

/* ЦИИИФЕРКИ
h2::before {
    content: "02";
    position: absolute;
    font-family: Unovis100;
    font-size: 22vw;
    height: 0;
    display: none;
}
*/

/* рисую крестики*/
#value .crosses {
    position: relative;
    padding: var(--sectiongap) 0 calc(var(--sectiongap) / 2);
    background: none;
    background-repeat: repeat;
    z-index: -1;
}
#value .crosses::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + var(--padding));
    height: 100%;
    background: url(../../img/patterns/crossesBlk.svg);
    z-index: -1;
    opacity: 0.65;
}

.layout p {
    grid-column-start: 2;
}

#value h3 {
    color: slategray;
    grid-column-start: 2;
    margin: 0 0 0.5em;
}

#value h2 {
    font-size: 4vw;
    text-indent: -12vw;
    grid-column-start: 2;
}

#value ul {
    grid-column: 2 / -1;
    grid-template-columns: 3 / -1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-top: solid 1.5px slategray;
    padding-top: 2rem;
    gap: 75px;
}

#value li {
    list-style-type: none;
}

#value li p {
    margin-bottom: 0;
}

#value h4 {
    color: slategray;
    height: 10em;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
    #value ul {
        grid-column-start: 1;
        gap: 1.5em;
    }
    #value h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1000px) {
    #value ul {
        gap: 1em;
    }
    #value h2 {
        text-indent: 0;
    }
}

/* скрытая philosophy-секция; снесу её когда-нибудь */

#philosophy h3 {
    grid-column: 1;
}

#philosophy p {
    grid-column: 2 / -1;
}

#CTA {
    position: relative;
}
@media handheld, (max-width: 768px) {
    #CTA h2 {
        display: none;
    }
}
