body.home > header {
    display: none;
}

/* 1. hero-секция */
@supports (mix-blend-mode: screen) {
    Добавим потом норм пикчу как светоэффект на главную страницу body.home #hero :is(nav, h1, div p, div a) {
        z-index: 2;
    }
    body.home #hero::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 80%;
        left: 10%;
        height: 75%;
        background-image: url(../../img/page/home/lght1400p.png);
        mix-blend-mode: screen;
        pointer-events: none;
        background-size: contain;
    }
    @media (max-width: 768px){
        body.home #hero::after{
            bottom: 0; left: 0;
            width: 100%; height: 50%;
        }
    }
}

body.home > #hero {
    background-image: url(../../img/page/home/hero3.png);
    background-position-y: top;
    background-attachment: fixed;
    background-color: black;
    color: var(--SoftBlack);
    padding: var(--sectiongap) 0 0;
    display: block;
}

/* Меню главной страницы */
body.home > #hero div.layout:first-child {
    padding: 0 var(--padding);
}

body.home > #hero nav {
    grid-column: 3 / -1;
    position: relative;
    padding: 1rem; padding-top: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    z-index: 2;
}

@media (min-width: 769px) {
    body.home > #hero nav {
        position: relative;
        left: -3rem;
        padding-left: 3rem;
        width: calc(100% + 3rem);
    }
}

@media (max-width: 768px) {
    body.home > #hero nav {
        max-width: max-content;
        padding: 35px 5rem 1rem 35px;
        background-color: rgba(255, 255, 255, 0.25);
    }
    body.home > #hero nav ul li {
        margin-top: 0 !important;
    }
    body.home > #hero nav ul li a {
        display: inline-flex;
        align-items: center;
        min-height: 50px;
    }
}

body.home > #hero .logo {
    background-image: url(../../icons/Kc_logo_full_logo_raster_lght.png);
    filter: drop-shadow(0 0 1.5px cornflowerblue);
}
body.home > #hero nav ul {
    margin: 0;
    padding: 0;
}
body.home > #hero nav ul li {
    list-style-type: none;
    margin: 0.5rem 0 0;
}

body.home > #hero nav a,
body.home > #hero nav a:link,
body.home > #hero nav a:visited {
    color: var(--SoftBlack);
}
body.home > #hero nav a:hover {
    color: var(--BrightBlue);
}
/* Выпадающий блок при наведении */
body.home > #hero nav li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 1.5rem;
    display: block;
    background-color: var(--CosmicLatte);
    opacity: 0.35;
    mix-blend-mode: soft-light;
    z-index: -1;
    transition: all 250ms ease-in;
}
body.home > #hero nav :is(li:hover, li.active)::before {
    content: "";
    width: 100%;
    transition: all 250ms ease-out;
}
@media (max-width: 768px) {
    body.home > #hero nav li::before {
    height: 50px;
    }
}

body.home > #hero h1,
body.home > #hero nav a {
    text-shadow:
        0 0 50px cornflowerblue,
        0 0 10px var(--CosmicLatte),
        0 0 1.5px tan,
        0 0 0.5px yellow;
}

body.home > #hero .outline {
    display: block;
    position: relative;
    left: unset; top: -1.23em;
    height: 0;
    overflow: visible;
    font-family: Unovis100;
    font-size: 10vw;
    line-height: 4.5vw;
    user-select: none;
}

@media (max-width: 768px) {
    body.home > #hero .outline {
        font-size: 9vw;
    }
}

body.home > #hero h1 {
    position: relative;
    margin: calc(var(--sectiongap) / 2) auto;
    padding: 0 var(--padding);
    box-sizing: content-box;
    z-index: 3;
    max-width: 1400px;
}
@media (max-width: 768px) {
    body.home > #hero h1 {
        text-shadow:
        0 0 100px cornflowerblue,
        0 0 65px var(--CosmicLatte),
        0 0 10px tan,
        0 0 1.5px gold,
        0 0 0.5px white;
    }
}

body.home > #hero .layout *,
body.home > #hero .layout p {
    grid-column: 3 / -1;
}

body.home > #hero div.blk.paper {
    display: grid;
    grid-template-columns: var(--grid);
    color: var(--CosmicLatte);
    background: url(../../img/patterns/paperTxtr.png),
        var(--SoftBlack);
    background-repeat: repeat;
    background-size: auto;
    padding: 2rem var(--padding) var(--sectiongap);
}

body.home > #hero div.blk.paper div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
body.home > #hero div.blk.paper .side {
    position: absolute;
    top: 10em;
    left: -3rem;
    rotate: -90deg;
    transform-origin: left;
    color: slategray;
}

@media (max-width: 768px) {
    body.home > #hero div.blk.paper .side {
        display: none;
    }
}

body.home > #hero div.blk.paper .btn {
    margin-bottom: 0;
}



/* 2. Value-секция */

body.home > #value {
    padding-top: 0;
    row-gap: 0;
}
/* украшаю направляющими. Как же проклято выглядят стили, ё-моё */
body.home > #value::before,
body.home > #value::after,
body.home > #value ul::before,
body.home > #value ul::after {
    content: url(../../img/patterns/guides.svg);
    position: absolute;
    opacity: 0.35;
    width: 0;
    height: 0;
    overflow: visible;
    grid-column: 1 / -1;
}
body.home > #value::before {
    left: 0;
    top: var(--sectiongap);
    rotate: 180deg;
}
body.home > #value::after {
    right: 0;
    top: var(--sectiongap);
    rotate: -90deg;
}
body.home > #value ul::before {
    left: 0;
    bottom: var(--sectiongap);
    rotate: 90deg;
}
body.home > #value ul::after {
    right: 0;
    bottom: var(--sectiongap);
}
@media screen and (max-width: 768px) {
    body.home > #value::before,
    body.home > #value::after,
    body.home > #value ul::before,
    body.home > #value ul::after {
        display: none;
    }
}

/* ЦИИИФЕРКИ
h2::before {
    content: "02";
    position: absolute;
    font-family: Unovis100;
    font-size: 22vw;
    height: 0;
    display: none;
}
*/

/* рисую крестики */

body.home > #value h2 {
    order: 3;
    font-size: 3vw;
    text-indent: -12vw;
    grid-column-start: 2;
    margin-top: 3rem;
}
@supports (text-indent: calc(10px + var(--columngap))) {
    body.home > #value h2 {
        text-indent: calc(0px - (100% - (var(--columngap) * 3)) / 4 - var(--columngap));
    }
}
@media (max-width: 768px) {
    body.home > #value h2 {
        text-indent: 0;
    }
}
@media (max-width: 1024px) {
    body.home > #value h2 {
        font-size: 2.5rem;
    }
}



body.home > #value .crosses {
    position: relative;
    padding: var(--sectiongap) 0 calc(var(--sectiongap) / 2);
    background: none;
    background-repeat: repeat;
}
body.home > #value .crosses::before{
    width: calc(100% + var(--padding));
}

body.home > #value .layout p {
    grid-column-start: 2 !important;
}

body.home > #value p.strong,
body.home > #value h3 {
    color: var(--Golden);
    font-family: AvantGarde, Santello, Raleway;
    letter-spacing: 0.03em;
    font-weight: bold;
    text-shadow: var(--textShadow);
}

body.home > #value h3 {
    grid-column-start: 2;
    margin: 0 0 0.5rem;
}

body.home > #value ul {
    grid-column: 2 / -1;
    grid-template-columns: 3 / -1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 0 1.5rem;
    border-top: solid 1.5px slategray;
    padding-top: 2rem;
    gap: var(--columngap);
}

body.home > #value li {
    list-style-type: none;
    height: auto;
}

body.home > #value li p {
    margin-bottom: 0;
}

body.home > #value h3 {
    color: var(--Golden);
    display: flex;
    align-items: flex-end;
    min-height: calc(50% - 0.5rem);
    margin-top: 0;
}

@media (max-width: 1024px) {
    body.home > #value ul {
        grid-column-start: 1;
    }
}



/* секция портфолио */

body.home > #portfolio .card.heading {
    grid-column: 5;
    grid-row: 1;
    padding-right: 1.75rem;
}
@media (max-width: 1079px) {
    body.home > #portfolio .card.heading {
        min-width: 100px;
    }
}
@media (min-width: 1201px) {
    body.home > #portfolio .card.heading {
        padding-right: calc(1.25rem + 12.5%);
    }
}

body.home > #portfolio .card.heading h2 {
    rotate: -90deg;
    position: absolute;
    right: 0.95em;
    font-size: calc(2rem + 20%);
    bottom: 0;
    width: 0;
    height: 0;
    white-space: nowrap;
    margin: 0;
    text-align: right;
    z-index: 3;
    pointer-events: none;
}

body.home > #portfolio .small {
    margin-top: 0;
    position: relative;
    top: -0.35em;
    font-family: Santello;
}
@media (min-height: 1201px) {
    body.home > #portfolio .small {
        line-height: 2.25cqh;
    }
}
@media (min-width: 1500px) {
    body.home > #portfolio .heading .small::after {
        content: ". Дизайн должен показывать ценность или качество";
    }
}

body.home > #portfolio .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
}
body.home > #portfolio .btn {
    padding: unset;
}
@media (min-width: 1800px) {
    body.home > :is(#likeability, #scarcity, #commitment) p {
        grid-column-start: 2;
    }
}




body.home > #likeability {
    background-image: url(../../img/page/home/claudio-guglieri-YITqbi1T64Q-unsplash.jpg);
    background-size: cover;
}

body.home > #likeability h2.outline {
    bottom: calc(0.35em - var(--sectiongap));
    right: 0;
}

body.home > #scarcity {
    z-index: -1;
}

body.home > #needs h2 {
    color: var(--BrightBlue);
}
body.home > #needs p {
    color: var(--DeepBlue);
}

/* скрытая philosophy-секция; снесу её когда-нибудь */

#philosophy h3 {
    grid-column: 1;
}

#philosophy p {
    grid-column: 2 / -1;
}

body.home > #CTA {
    position: relative;
}
@media (max-width: 768px) {
    body.home > #CTA h2 {
        display: none;
    }
}
body.home > #CTA * + small {
    margin-top: 0.25rem;
}


body.home div.scales {
    position: relative;
    height: 24px;
}

body.home div > img.colorbar {
    position: absolute;
    right: 24px;
    bottom: 24px;
}
