header {
    display: none;
}

/* 1. hero-секция */
@supports (mix-blend-mode: screen) {
    .hero :is(nav, h1, div p, div a, div) {
        z-index: 2;
    }
    .hero::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100vw;
        left: 0;
        height: 100%;
        background-image: url(../../img/page/home/running-lines.gif);
        mix-blend-mode: screen;
        pointer-events: none;
        background-size: contain;
        z-index: 1;
    }
    @media (max-width: 768px){
        .hero::after{
            bottom: 0; left: 0;
            width: 100%; height: 85%;
        }
    }
}

.hero {
    background-image: url(../../img/page/home/hero3.png);
    background-position-y: top;
    background-attachment: fixed;
    background-color: black;
    color: var(--SoftBlack);
    padding: var(--sectiongap) 0 0;
    display: block;
}


/* Меню главной страницы */
.hero div.layout:first-child {
    padding: 0 var(--padding);
}

.hero nav {
    grid-column: 3 / -1;
    position: relative;
    padding: 1rem; padding-top: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    z-index: 2;
}
.hero nav a {
    white-space: nowrap;
}
.hero nav ul .contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 2rem);
    font-size: 0.75rem;
}
.hero nav .contacts a:link {
    color: var(--DeepBlue);
    text-shadow: none;
}
/* nav меню стилизовано для десктопной версии */
@media (min-width: 801px) {
    .hero nav {
        position: relative;
        left: -3rem;
        padding-left: 3rem;
        width: calc(100% + 3rem);
    }
    .hero nav ul {
        width: 100%;
    }
    .hero nav ul li {
        width: max-content;
    }
    .hero nav .contacts::before {
        height: 1.25rem;
    }
}
/* nav Меню стилизовано для Мобильной версии */
@media (max-width: 800px) {
    .hero nav {
        max-width: max-content;
        padding: 35px 5rem 1rem 35px;
        background-color: rgba(255, 255, 255, 0.25);
    }
    .hero nav ul li {
        margin-top: 0 !important;
    }
    .hero nav ul .contacts {
        gap: 1.5em;
    }
    .hero nav ul li a {
        display: inline-flex;
        align-items: center;
        min-height: 50px;
    }
}

.hero .logo {
    background-image: url(../../icons/Kc_logo_full_logo_raster_lght.png);
    filter: drop-shadow(0 0 1.5px cornflowerblue);
}

.hero nav ul {
    margin: 0;
    padding: 0;
}
.hero nav ul li {
    list-style-type: none;
    margin: 0.5rem 0 0;
}


/* Выпадающий блок при наведении */
.hero nav li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 1.5rem;
    display: block;
    background-color: var(--CosmicLatte);
    opacity: 0.35;
    mix-blend-mode: soft-light;
    z-index: -1;
    transition: all 250ms ease-in;
}
.hero nav :is(li:hover, li.active)::before {
    content: "";
    width: 100%;
    transition: all 250ms ease-out;
}
@media (max-width: 800px) {
    .hero nav li::before {
    height: 50px;
    }
}



.hero nav a,
.hero nav a:link,
.hero nav a:visited {
    color: var(--SoftBlack);
}
.hero nav a:hover {
    color: var(--BrightBlue);
}


.hero h1,
.hero nav a {
    text-shadow:
        0 0 50px cornflowerblue,
        0 0 10px var(--CosmicLatte),
        0 0 1.5px tan,
        0 0 0.5px yellow;
}

.hero__decorative {
    display: block;
    position: relative;
    left: unset; top: -1.23em;
    height: 0;
    overflow: visible;
    font-family: Unovis100;
    font-size: 10vw;
    line-height: 4.5vw;
    user-select: none;
}

@media (max-width: 768px) {
    .hero__decorative {
        font-size: 9vw;
    }
}

.hero h1 {
    position: relative;
    margin: calc(var(--sectiongap) / 2) auto;
    padding: 0 var(--padding);
    box-sizing: content-box;
    z-index: 3;
    max-width: 1400px;
}
@media (max-width: 768px) {
    .hero h1 {
        text-shadow:
        0 0 100px cornflowerblue,
        0 0 65px var(--CosmicLatte),
        0 0 10px tan,
        0 0 1.5px gold,
        0 0 0.5px white;
    }
}

.hero .layout *,
.hero .layout p {
    grid-column: 3 / -1;
}

.hero__offer {
    position: relative;
    display: grid;
    grid-template-columns: var(--grid);
    color: var(--CosmicLatte);
    background: url(../../img/patterns/paperTxtr.png),
        var(--SoftBlack);
    background-repeat: repeat;
    background-size: auto;
    padding: 2rem var(--padding) var(--sectiongap);
}

.hero__offer div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.hero__offer .side-text {
    position: absolute;
    top: 10em;
    left: -3rem;
    rotate: -90deg;
    transform-origin: left;
    color: slategray;
}

@media (max-width: 768px) {
    .hero__offer .side-text {
        display: none;
    }
}

.hero__offer .btn {
    margin-bottom: 0;
}



/* 2. Value-секция */
/* украшаю направляющими. Как же проклято выглядят стили, ё-моё */
.value::before,
.value::after,
.value ul::before,
.value ul::after {
    content: url(../../img/patterns/guides.svg);
    position: absolute;
    opacity: 0.35;
    width: 0;
    height: 0;
    overflow: visible;
    grid-column: 1 / -1;
}
.value::before {
    left: 0;
    top: var(--sectiongap);
    rotate: 180deg;
}
.value::after {
    right: 0;
    top: var(--sectiongap);
    rotate: -90deg;
}
.value ul::before {
    left: 0;
    bottom: var(--sectiongap);
    rotate: 90deg;
}
.value ul::after {
    right: 0;
    bottom: var(--sectiongap);
}
@media screen and (max-width: 768px) {
    .value::before,
    .value::after,
    .value ul::before,
    .value ul::after {
        display: none;
    }
}


.value__heading {
    order: 3;

    display: grid;
    grid-template-columns: var(--grid);
    column-gap: var(--columngap);
    row-gap: 0;

    grid-column: 1 / -1;
    margin-top: 3rem;
}
.value__heading-span {
    grid-column: 1 / -1;
    display: block;
}
.value__heading {
    font-size: 3.5vw;
}
@media (max-width: 1024px) {
    .value__heading {
        font-size: 2.5rem;
    }
}
@media (min-width: 768px) {
    .value__heading:before {
        content: "02";

        display: block;
        grid-column: 1 / 2;
        order: 1;
        justify-self: start;
        height: 0;
        transform: translateY(-0.58em);

        font-family: Unovis100;
        font-size: 15vw;

        color: rgba(255, 255, 255, 0.08);
        background: url(../../img/page/home/glitch.gif);
        background-size: contain;
        background-position-y: 85%;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .value__heading-span:nth-child(2) {
        grid-column: 2 / -1;
        order: 2;
    }
}


/* рисую крестики */
.value .crosses {
    position: relative;
    padding: 0 0 calc(var(--sectiongap) / 2);
    background: none;
    background-repeat: repeat;
}
.value .crosses::before {
    width: calc(100% + var(--padding));
    height: calc(100% + var(--sectiongap));
    top: calc(0px - var(--sectiongap));
}

.value__description {
    grid-column: 2 / -1 !important;
}

.value__description.strong,
.value__question {
    color: var(--Golden);
    font-family: AvantGarde, Santello, Raleway;
    letter-spacing: 0.03em;
    font-weight: bold;
    text-shadow: var(--textShadow);
}

.value__list {
    padding: calc(var(--sectiongap) / 2) 0 0;

    grid-column: 2 / -1;
    border-top: solid 1.5px slategray;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    column-gap: var(--columngap);
    row-gap: calc(var(--sectiongap) / 3);
}
.value__list * {
    grid-column: unset;
}

@media (max-width: 1024px) {
    .value__list {
        grid-column-start: 1;
    }
}

.value__question {
    align-self: end;
}
.value__question::before {
    content: "«";
}
.value__question::after {
    content: "»";
}



/* секция портфолио */
.portfolio-card.heading {
    grid-column: 5;
    grid-row: 2;
    padding-right: 1.75rem;
}
@media (max-width: 1079px) {
    .portfolio-card.heading {
        min-width: 100px;
    }
}
@media (min-width: 1201px) {
    .portfolio-card.heading {
        padding-right: calc(1.25rem + 12.5%);
    }
}

.portfolio-heading {
    rotate: -90deg;
    position: absolute;
    right: 0.95em;
    font-size: calc(2rem + 20%);
    bottom: 0;
    width: 0;
    height: 0;
    white-space: nowrap;
    margin: 0;
    text-align: right;
    z-index: 3;
    pointer-events: none;
}

.portfolio-description {
    margin-top: 0;
    position: relative;
    top: -0.35em;
    font-family: Santello;
}
@media (min-height: 1201px) {
    .portfolio-description {
        line-height: 2.25cqh;
    }
}
@media (min-width: 1500px) {
    .portfolio-description::after {
        content: ". Дизайн должен показывать ценность или качество";
    }
}

.portfolio-btn {
    position: absolute;
    width: 100%;
    left: 0; bottom: 0;
    padding: 0;
    margin: 0;
}


.skills {
    grid-template-columns: repeat(5, 20%);
    gap: 0;

    background: repeating-linear-gradient(
            to right,
            transparent 0,
            transparent 4rem,
            var(--SoftBlack) 4rem,
            var(--SoftBlack) calc(4rem + 1.5px)
        ),
        repeating-linear-gradient(
            to bottom,
            transparent 0,
            transparent 4rem,
            var(--SoftBlack) 4rem,
            var(--SoftBlack) calc(4rem + 1.5px)
        ),
        linear-gradient(to right bottom, hsla(203, 100%, 7%, 0.65), hsla(181, 78%, 21%, 0.25)),
        url(../../img/page/home/aerial-view.jpg);
}


.skills::after {
    content: "04";
    font-family: Unovis100;
    font-size: 15vw;
    transform: translateX(0.03em) translateY(0.25em);

    /*position: absolute;
    right: 0;*/
    grid-row: 2;
    grid-column: 1 / 2;
    justify-self: end;

    color: rgba(255, 255, 255, 0.1);
    background: url(../../img/page/home/glitch.gif);
    background-size: contain;
    background-position-y: 85%;
    -webkit-background-clip: text;
    background-clip: text;
}


.skills__heading.skills__card {
    grid-column: 5 / -1;
    grid-row: 2;
    justify-content: end;

    background: linear-gradient(to bottom right,
        var(--SoftBlack),
        hsla(0, 0%, 15%, 0.85)),
        url(../../img/page/home/glitch.gif);
    background-size: cover;

    color: var(--Golden);
}

@supports (mix-blend-mode: screen) {
    .skills::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;

        background-image: url(../../img/page/home/white-noise.gif);
        background-size: cover;
        mix-blend-mode: screen;
        opacity: 0.05;
    }
}

.skills__card {
    padding: calc(1rem + 1.5vw);
    grid-column: 2 / 4;
    align-content: end;
}
.skills .glass-morphism {
    border: solid 1.5px slategray;
}

.glass-morphism small {
    display: block;
    margin-top: 0.5em;
}
.glass-morphism small {
    color: black;
    text-shadow: 0 0 1.5px rgba(255, 255, 255, 0.35),
        0 0 3em lime;
}




#blog .tg-post {
    grid-column: span 4;
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    padding-top: calc(var(--sectiongap) / 2);
    background: url(../../img/page/home/hero5.jpg) center / cover;
    box-shadow:
        inset 50px 35px 65px 0 hsla(40, 100%, 50%, 0.05),
        inset 35px 50px 65px 0 hsla(220, 100%, 50%, 0.05),
        inset 15px 5px 15px 10px hsla(40, 100%, 5%, 0.35),
        inset 5px 15px 15px 10px hsla(220, 100%, 5%, 0.35),
        inset 3.5px 1.5px 1.5px -2px hsla(40, 100%, 5%, 0.65),
        inset 1.5px 3.5px 1.5px -2px hsla(220, 100%, 5%, 0.65);
}
@supports (height: 50svh) {
    #blog .tg-post {
        max-height: 50svh;
    }
}

#blog iframe {
    margin-top: 0.25rem;
    color-scheme: none !important;
}

#blog {
    overflow: visible;
}

#blog .subscribe {
    grid-column: span 1;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 0.5rem;
    color: slategray;
}

#blog .subscribe .tg {
    overflow: visible;
    margin-right: 0;
}
@media (max-width: 1080px) {
    #blog {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
