.portfolio-list #about, #experience, #skills {
    display: none;
}

.portfolio-list header nav ul::after {
    content: " / Портфолио";
    color: slategray;
}

.portfolio-list section .side {
    bottom: 0;
}
