body > header {
    display: inline-flex;
    position: absolute;
    background: transparent;
    z-index: 2;
}

body > header nav ul li {
    white-space: nowrap;
}
body > header nav ul li::after {
    content: "/";
    padding-right: 0;
}
body > header nav ul li:nth-child(1) {
    display: inline;
}
body > header nav ul li:nth-child(1) a::before {
    content: "Портфолио";
}

body > header nav ul li a:link,
body > header nav ul li a:visited {
    color: silver;
    text-shadow: var(--textShadow);
}

@media screen and (min-width: 769px) {
    body > header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding: calc(var(--sectiongap) + 1rem) 2rem 0 0;
        width: var(--padding);
    }
    body > header nav {
        flex-direction: column;
        align-items: flex-end;
    }
    body > header nav ul li::before {
        padding-left: 0;
    }
}

@media handheld, (max-width: 769px) {
    body > header {
        padding: 1.5rem 0 0 1.5rem;
    }
    h1 {
        padding-top: 100px !important;
    }
}

main.portfolio-case > time.side {
    color: var(--CosmicLatte);
    right: calc(var(--padding) / 2);
    top: calc(var(--sectiongap) + 30px);
    width: 60px;
    text-shadow: var(--textShadow);
}

main.portfolio-case {
    display: block;
    position: relative;
    padding: unset;
}

main.portfolio-case .cover {
    width: 100vw;
    box-sizing: border-box;
    max-width: none;
    padding: var(--sectiongap) var(--padding) calc(var(--sectiongap) * 0.75);
    margin: 0;
    background: var(--BrightBlue);
    background-position: center;
    background-size: cover;
    text-shadow: var(--textShadow);
}

#gallery {
    max-width: unset;
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 1em;
    scroll-behavior: smooth;
    margin: 2rem 0;
}

#gallery img {
    max-width: 95%;
    max-height: 75vh;
    display: inline-block;
}

.portfolio-case > article {
    padding: 0 var(--padding);
}
@media (min-width: 1800px) {
    .portfolio-case article {
        gap: 75px 2rem;
    }
    main.portfolio-case article :is(p, .p):nth-child(odd) {
        grid-column: 2 / span 2;
    }
    main.portfolio-case article :is(p, .p):nth-child(even) {
        grid-column: 4 / span 2;
    }
    main.portfolio-case article :is(p, .p) {
        margin: 0;
    }
}
