<header class="header">
    <nav class="header__breadcrumbs" aria-label="Навигация по уровням сайта">
        <a class="breadcrumbs__logo logo"
           href="/sobolstudio/"
           aria-label="На главную страницу Sobol Studio"
           title="На главную">
        </a>
        <ul class="breadcrumbs__list contents">
            <li class="breadcrumbs__level" title="на уровень выше" ><a class="breadcrumbs__link" href="../" aria-label="Вернуться на уровень выше"></a></li>
            <li class="breadcrumbs__level" title="на два уровня выше" ><a class="breadcrumbs__link" href="../../" aria-label="Вернуться на два уровня выше"></a></li>
            <li class="breadcrumbs__level" title="на три уровня выше" ><a class="breadcrumbs__link" href="../../../" aria-current="Вернуться на три уровня выше"></a></li>
        </ul>
    </nav>
</header>
