<!-- Скрипт добавляет карточки -->
{% for case in site.portfolio reversed %}
<!-- Скрипт увеличит карточку если добавить в кейс переменную size -->
  <a class="card case
            {% if case.size %}
            size{{ case.size }}
            {% endif %}
            "
  href="{{ case.url | relative_url }}"


  {% if case.thumbnail %}
  style='background:
    url("{{ case.thumbnail | relative_url }}") center/cover;'
  {% endif %}
  >
<!-- Всплывающее окно при наведении курсора -->
    <div class="cover"
  {% if case.thumbnail %}
  style='background: url(
                   {{ case.thumbnail | relative_url }}
                         ) center/cover;'
  {% endif %}>

<!-- Добавляет кейвижуал во всплывашку -->
  {% if case.keyvisual %}
  <img src="{{ case.keyvisual | relative_url }}" alt="{{ case.title }}">
  {% endif %}      <p class="description">{{ case.description }}</p></div>

<!-- Контент внутри карточки: название, кейвижуал -->
  <p class="description">{{ case.description }}</p>
  {% if case.keyvisual %}
  <img class="keyvisual" src="{{ case.keyvisual | relative_url }}" alt="{{ case.title }}">
  {% endif %}

</a>
{% endfor %}

<a class="card blank behance" style="background:url(https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/add5e8169548731.Y3JvcCw4MDgsNjMyLDAsMA.png); background-position: center"
href="https://www.behance.net/gallery/169548731/Logofolio-2023" target="_blank">
  <p class="description">Logofolio</p>
</a>

<a class="card blank behance"  style="background:url(https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/6e3e9a164116753.Y3JvcCw4MDgsNjMyLDAsMA.png); background-position: center"
href="https://www.behance.net/gallery/164116753/Key-visual-banners" target="_blank">
  <p class="description">Key visual</p>
</a>

<a class="card blank behance"  style="background:url(https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/45b12c165280831.Y3JvcCw4MDgsNjMyLDAsMA.png); background-position-x: left"
href="https://www.behance.net/gallery/165280831/magazin-rjukzakov-BackPack" target="_blank">
  <p class="description">E-commerce</p>
</a>
