/* 1. hero-секция */
#hero {
    background-image: url(../img/content/hero1.png);
    overflow: hidden;
    grid-auto-flow: row;
    color: var(--SoftBlack);
    max-width: 1920px;
}
#hero h1 {
    margin: 3rem 0 2.5rem;
    z-index: 2;
}
#hero h1:before {
    content: url(../img/content/hero.svg);
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: -1;
}

#hero nav {
    grid-column: 3 / -1;
}

#hero div {
    padding-top: 1.5rem;
    grid-column: 3 / -1;
    background-color: var(--SoftBlack);
    box-shadow: 0 1000px 0 1000px var(--SoftBlack);
    color: var(--CosmicLatte);
    z-index: 2;
}
#hero div a {
    display: block;
}

#value h2 {
    margin: 0;
    font-size: 2.5rem;
}

#value .wrap {
    grid-column-start: 2;
}

#value ul {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-top: solid 1.5px slategray;
    margin-top: 2rem;
    padding-top: 2rem;
    gap: 2.5em;
}

#value li {
    list-style-type: none;
    width: 1fr;
}

#value h4 {
    color: slategray;
    height: 10em;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 840px) {
    h1 {
        margin: 5rem 0;
    }
}

/* 2. Value-секция */

/* 4. philosophy-секция */
#philosophy h3 {
    grid-column: 1;
}

#philosophy p {
    grid-column: 2 / -1;
}
