/* 1. hero-секция */
#hero {
    background-image: url(../img/content/hero1.png);
    overflow: hidden;
    grid-auto-flow: row;
    color: var(--SoftBlack);
    max-width: 1920px;
}
#hero h1 {
    margin: 3rem 0 2.5rem;
    z-index: 2;
}
#hero h1:before {
    content: url(../img/content/hero.svg);
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: -1;
}

#hero nav {
    grid-column: 3 / -1;
}

#hero div {
    padding-top: 1.5rem;
    grid-column: 3 / -1;
    background-color: var(--SoftBlack);
    box-shadow: 0 1000px 0 1000px var(--SoftBlack);
    color: var(--CosmicLatte);
    z-index: 2;
}
#hero div a {
    display: block;
}

@media screen and (max-width: 800px) {
    h1 {
        margin: 5rem 0;
    }
}

/* 2. Value-секция */

#value::before {
    content: "";
    position: absolute;
    top: 0;
    left: 200px;
    width: 100%;
    height: 50%;
    background: url(../img/patterns/crossesBlk.svg);
    background-repeat: repeat;
    opacity: 0.35;
    z-index: -1;
}

/* украшаю направляющими. Как же проклято выглядят стили, ё-моё */
#value p:nth-child(1)::before,
#value p:nth-child(1)::after,
#value p:nth-child(2)::before,
#value p:nth-child(2)::after {
    content: url(../img/patterns/guidesWhite.svg);
    position: absolute;
    opacity: 0.35;
    width: 0;
    height: 0;
    overflow: visible;
}
#value p:nth-child(1)::before {
    left: 200px;
    top: 100px;
    rotate: 180deg;
}
#value p:nth-child(1)::after {
    right: 200px;
    top: 100px;
    rotate: -90deg;
}
#value p:nth-child(2)::before {
    left: 200px;
    bottom: 100px;
    rotate: 90deg;
}
#value p:nth-child(2)::after {
    right: 200px;
    bottom: 100px;
}
@media screen and (max-width: 800px) {
    #value p:nth-child(1)::before,
    #value p:nth-child(1)::after,
    #value p:nth-child(2)::before,
    #value p:nth-child(2)::after {
        display: none;
    }
}

#value p {
    grid-column-start: 2;
}

#value h3 {
    color: slategray;
    grid-column-start: 2;
    margin: 0 0 0.5em;
}

#value h2 {
    font-size: 2.5rem;
    text-indent: -12vw;
    grid-column-start: 2;
}

#value ul {
    grid-column: 2 / -1;
    grid-template-columns: 3 / -1;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-top: solid 1.5px slategray;
    margin-top: 2rem;
    padding-top: 2rem;
    gap: 75px;
}

#value li {
    list-style-type: none;
}

#value h4 {
    color: slategray;
    height: 10em;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
    #value ul {
        grid-column-start: 1;
        gap: 1.5em;
    }
}

@media screen and (max-width: 800px) {
    #value ul {
        gap: 1em;
    }
    #value h2 {
        text-indent: 0;
    }
}

/* скрытая philosophy-секция */

#philosophy h3 {
    grid-column: 1;
}

#philosophy p {
    grid-column: 2 / -1;
}
