/* 1. hero-секция */
#hero {
    background-image: url(../img/content/hero1.png);
    overflow: hidden;
    grid-auto-flow: row;
    color: var(--SoftBlack);
    max-width: 1920px;
}
#hero h1 {
    margin: 3rem 0 2.5rem;
    z-index: 2;
}
#hero h1:before {
    content: url(../img/content/hero.svg);
    position: absolute;
    left: 0;
    width: 10vw;
    z-index: -1;
}

#hero nav {
    grid-column: 3 / -1;
    grid-auto-flow: row;
}
nav a {
    display: block;
    color: var(--DarkBlue);
    text-decoration: none;
    margin: 0.5rem 0 0;
}
#hero div {
    padding-top: 1.5rem;
    grid-column: 3 / -1;
    background-color: var(--SoftBlack);
    box-shadow: 0 1000px 0 1000px var(--SoftBlack);
    color: var(--CosmicLatte);
    z-index: 2;
}
#hero div a {
    display: block;
}

@media screen and (max-width: 840px) {
    h1 {
        margin: 5rem 0;
    }
}

/* 2. Value-секция */

/* 4. philosophy-секция */
#philosophy h3 {
    grid-column: 1;
}

#philosophy p {
    grid-column: 2 / -1;
}
