/* настройка горизонтальных полей страницы */
:root {
    --padding: 20vw;
}

@media (min-width: 1800px) {
    :root {
        --padding: calc(50vw - 700px);
    }
}

@media handheld, (max-width: 768px) {
    :root {
        --padding: 1.5rem;
    }
}

/* Основная переменная расстояний между секциями*/
:root {
    --sectiongap: 7.5vw;
}
@media (min-width: 2500px) {
    :root {
        --sectiongap: clamp(120vw, 10vw, 200px);
    }
}

:root {
    --grid: repeat(5, 1fr);
}
@media (max-width: 768px) {
    :root {
        --grid: unset;
    }
}

/* Лейаут */
section,
header,
footer,
main {
    padding: var(--sectiongap) var(--padding);
    position: relative;
}
header {
    padding-bottom: 24px !important;
}
footer {
    padding-top: 24px !important;
}

section,
footer,
.layout {
    display: grid;
    grid-template-columns: var(--grid);
    grid-auto-flow: row;
    gap: 0.5em 75px;
}

/* Лейаут: растягиваем блочные элементы по умолчанию на все колонки */
h1,
h2,
h3,
p,
small,
button,
div,
img,
article,
.block {
    grid-column: 1 / -1;
    display: block;
    max-width: 100%;
}
a {
    grid-column: 1 / -1;
}

/*текстовая врезка с названием секции */
@media screen and (min-width: 768px) {
    .side {
        position: absolute;
        right: calc(var(--padding) / -2 + 1rem);
        bottom: var(--sectiongap);
        font-weight: normal;
        width: 0;
        height: 0;
        white-space: nowrap;
        font-family: Santello, Raleway;
        font-size: 0.75rem;
        rotate: -90deg;
        color: silver;
        z-index: 2;
    }
}
