/* настройка горизонтальных полей страницы */
:root {
    --padding: 20vw;
}

@media (min-width: 1800px) {
    :root {
        --padding: calc(50vw - 700px);
    }
}

@media handheld, (max-width: 769px) {
    :root {
        --padding: 1.5rem;
    }
}

/* Основная переменная расстояний между секциями*/
:root {
    --sectiongap: 7.5vw;
}
@media (min-width: 2500px) {
    :root {
        --sectiongap: clamp(120px, 10vh, 200px);
    }
}

/* Сетка исчезает на узкой странице */
:root {
    --grid: repeat(5, calc((100% - (var(--columngap) * 4) ) / 5));
}

@media (max-width: 769px) {
    :root {
    --grid: unset;
    }
}

@media (min-width: 1800px) {
    :root {
        --grid: repeat(5, 220px);
    }
}
/* Расстояние между колонками */
:root {
    --columngap: 75px;
}
@media (max-width: 1200px){
:root {
    --columngap: 1rem;
}
}

ul, ol, dl {
    margin: 0;
}

/* Размещает поля */
body > :is(main, section, header, footer, article, aside, nav, blockquote, figure, details, pre, table, fieldset, form, address, dl) {
    padding: var(--sectiongap) var(--padding);
    position: relative;
}
body > :is(p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, pre, table, dl, hr, address, details, figure, figcaption) {
    margin-left: var(--padding);
    margin-right: var(--padding);
}

* > article {
    padding: calc(var(--sectiongap) / 2) 0;
}

:not(body) > section + :is(section, article, aside) {
    margin-top: calc(var(--sectiongap) * 2);
}


header {
    padding-bottom: 1rem !important;
}
footer {
    padding-top: 1rem !important;
}


/* СЕТКА*/

section,
footer,
article,
aside,
main,
.layout {
    position: relative;
    display: grid;
    grid-template-columns: var(--grid);
    grid-auto-flow: row;
    column-gap: var(--columngap);
    row-gap: 0;
}

@media (max-width: 1024px) {
    section,
    footer,
    article,
    body > :is(aside),
    main,
    .layout,
    .portfolio {
        column-gap: 1.5rem;
    }
}

 :is(section,
footer,
article,
aside,
main,
.layout, .portfolio) > :not(
p, .p,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
small, .small
) {
  min-width: 0;
  max-width: 100%;
}

/* Лейаут: растягиваем элементы по умолчанию на все колонки */

    /* Заголовки и текст */
    h1, h2, h3, h4, h5, h6, p, small, a, button, .btn,
    /* Структурные блоки */
    div, nav, img, article, ul, ol, li, .block,
    /* Семантические добавки */
    header, aside, main, address, blockquote, pre, hr,
    figure, figcaption, details, summary, fieldset, legend,
    form, label, table, caption, thead, tbody, tfoot, tr, th, td,
    dl, dt, dd,
    /* Медиа и встраиваемое */
    video, audio, iframe, embed, object, picture, source,
    /* Технические */
    section, footer
{ grid-column: 1 / -1; }
@media (min-width: 1600px) {
    :is(section,
    footer,
    article,
    aside,
    main,
    .layout, .portfolio) > :is(
    /* Заголовки и текст */
    h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, a, button, .btn,
    /* Структурные блоки */
    div, nav, img, ul, ol, li,
    /* Семантические добавки */
    address, blockquote, pre, hr,
    figure, figcaption, details, summary, fieldset, legend,
    form, label, table, caption, thead, tbody, tfoot, tr, th, td,
    dl, dt, dd,
    /* Медиа и встраиваемое */
    video, audio, iframe, embed, object, picture, source
    ) {
        grid-column-start: 2;
    }
}
@media (min-width: 2500px) {
    :is(section,
    footer,
    article,
    body > aside,
    main,
    .layout, .portfolio) > :is(
    /* Заголовки и текст */
    h1, .h1, h2, .h2,
    ) {
        grid-column-start: 2;
    }
    :is(section,
    footer,
    article,
    aside,
    main,
    .layout, .portfolio) > :is(
    /* Заголовки и текст */
    h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, a, button, .btn,
    /* Структурные блоки */
    div, nav, img, ul, ol, li,
    /* Семантические добавки */
    address, blockquote, pre, hr,
    figure, figcaption, details, summary, legend,
    form, label, caption, thead, tbody, tfoot, tr, th, td,
    dl, dt, dd,
    /* Медиа и встраиваемое */
    video, audio, iframe, embed, object, picture, source
    ) {
        grid-column-start: 3;
    }
}



/*текстовая врезка с названием секции */
@media screen and (min-width: 769px) {
    .side {
        position: absolute;
        right: calc(var(--padding) / -2 + 1rem);
        bottom: var(--sectiongap);
        font-family: Santello, Raleway;
        font-weight: normal;
        width: 0;
        height: 0;
        white-space: nowrap;
        rotate: -90deg;
        color: silver;
        z-index: 2;
    }
}
