@media screen and (max-width: 720px) {
    * {
        grid-column: 1 / -1;
    }
    body {
        grid-template-columns: repeat(1, 1fr); /* На мобильных — одна колонка */
    }
    section {
        padding: 2em 0;
    }
    #philosophy p {
    grid-column: 1 / -1;
}
}
