main {
    gap: 1.5vw;
}

main a {
    position: relative;
    background: navy;
    grid-column: span 1;
    overflow: hidden;
    aspect-ratio: 9 / 16;
    color: white;
    text-decoration: none;
    padding: 0;
}

main a p {
    position: absolute;
    transform-origin: bottom right;
    right: 1em;
    top: 0;
    rotate: -90deg;
    white-space: nowrap;
    margin: 0;
    text-align: right;
    text-shadow:
        0 0 1em black,
        0 0 0.35em black,
        0 0 0.5px black;
}

main a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

@media screen and (max-width: 1000px) {
    main a {
        display: inline-block;
        width: 20vw;
    }
}
