main {
    padding-top: 0;
}

.cover {
    position: relative;
    left: calc(0px - var(--padding));
    width: 100vw;
    max-width: none;
    padding: var(--sectiongap) var(--padding) calc(var(--sectiongap) * 0.75);
    margin: 0 0 2rem;
    background: var(--BrightBlue);
    background-position: center;
    background-size: cover;
    text-shadow: var(--textShadow);
}

#gallery {
    position: relative;
    left: calc(0vw - var(--padding));
    max-width: unset;
    width: 100vw;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2rem;
}

#gallery img {
    max-width: 95%;
    max-height: 75vh;
    display: inline-block;
}
