#portfolio, .portfolio {
    --columngap: 1.5rem;
    gap: var(--columngap);
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, calc((100% - (var(--columngap) * 4)) / 5));
    grid-auto-flow: dense;
    padding-bottom: calc(var(--sectiongap) * 1.5);
}

.portfolio .portfolio-card {
    grid-column: span 1;
    aspect-ratio: 3 / 4;
    text-decoration: none;
    padding: 0;
    background-position: center;
    background-size: cover !important;
    min-height: 175px;
    max-width: unset;
}
.portfolio .portfolio-card:is(.case, .blank) {
    box-shadow: var(--textShadow);
}

@media (max-width: 1200px) {
    #portfolio,
    .portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
    .portfolio .portfolio-card {
        width: calc(5rem + 10%);
        min-height: 120px;
    }
}

.portfolio .portfolio-card:hover {
    text-decoration: none;
}

.portfolio .portfolio-card > p.description {
    position: absolute;
    transform-origin: bottom right;
    right: 1em;
    top: -2%;
    rotate: -90deg;
    white-space: nowrap;
    margin: 0;
    text-align: right;
    color: var(--CosmicLatte);
    text-shadow: var(--textShadow) !important;
}

.portfolio .portfolio-card.blank::before {
    content: url(../../assets/icons/Kc_logo_full_logo_raster_dk.png);
    filter: drop-shadow(0 0 1.5px rgba(0, 0, 0, 0.65));
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 0.75rem;
    bottom: 0.75rem;
}

.portfolio .portfolio-card.blank.behance::before {
    content: url(../icons/behance-square.svg);
}

.portfolio .portfolio-card .keyvisual {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    object-fit: contain;
}

.portfolio-card {
    position: relative;
    background-size: cover;
}

.portfolio-card.case::before {
    content: "";
    z-index: 2;
    position: absolute;
    left: calc(0px - var(--columngap) / 2);
    width: calc(var(--columngap) + 100%);
    height: 0;
    max-width: unset;
    transition: all 250ms ease;
    background-color: grey;
    box-shadow: var(--shadowHuge);
    mix-blend-mode: hard-light;
    pointer-events: none;
}

.portfolio-card > .case-card-popup {
    position: absolute;
    left: calc(0px - var(--sectiongap) / 2);
    top: -0.5px;
    color: white;
    width: calc(var(--sectiongap) + 100%);
    height: 0;
    max-width: unset;
    background-color: var(--Golden);
    text-shadow: var(--textShadow);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-shadow: var(--textshadow);
    transition: all 250ms ease;
    z-index: 3;
}

@media (max-width: 768px) {
    .portfolio-card.case::before {
        left: calc(0px - var(--columngap));
        width: calc(var(--columngap) * 2 + 100%);
    }

    .portfolio-card > .case-card-popup {
        left: calc(0px - var(--columngap));
        width: calc(var(--columngap) * 2 + 100%);
    }
}

.portfolio-card:hover::before {
    height: calc(100% + var(--sectiongap) - 1px);
}

.portfolio-card:hover > .case-card-popup {
    height: calc(100% + var(--sectiongap));
}

.case-card-popup > p {
    margin: 0 0.25em;
    text-align: end;
    font-family: Unovis100;
    overflow: hidden;
    height: 0;
    color: rgba(0, 0, 0, 0.35);
    text-shadow: none;
    font-size: 2rem;
    mix-blend-mode: overlay;
}

.portfolio-card:hover > .case-card-popup > p {
    height: auto;
}

.case-card-popup > img {
    position: absolute;
    width: 120%;
    max-width: unset;
    height: 120%;
    left: -10%; bottom: 0;
    object-fit: contain;
}

/* Визуальная иерархия  */

.portfolio .portfolio-card.size2 {
    grid-column: span 2;
    grid-row: span 2;
}
.portfolio .size3 {
    grid-column: span 3;
    grid-row: span 2;
}
.portfolio .size4 {
    grid-column: span 4;
    grid-row: span 2;
}
.portfolio .size5 {
    grid-column: span 5;
        aspect-ratio: 5 / 2;
}
@media (max-width: 960px) {
    .portfolio :is(.size2, .size3, .size4) {
        min-height: 150px;
    }
}

/* проклятое название стиля для скрытых кейсов */
.portfolio :is(.size0, .sizenone) {
    display: none !important;
}
