/* готовые тенюшки */
:root {
    --textShadow:
        0.015em 0.0065em 0.015em hsl(40, 100%, 1.5%),        0.0065em 0.015em 0.035em hsl(220, 100%, 1.5%),
        0.15em  0.05em   0.35em  hsl(40, 100%, 15%),         0.05em   0.15em  0.35em  hsl(220, 100%, 15%),
        0.35em  0.15em   0.65em  hsla(40, 100%, 1.5%, 0.65), 0.15em   0.35em  0.65em  hsla(220, 100%, 1.5%, 0.65);
    --shadowHuge:
        1px 0 1.5px hsl(218, 100%, 20%), 0 1px 1.5px hsl(30, 100%, 20%),
        15px 10px 25px hsl(0, 0%, 35%), 10px 15px 25px hsl(0, 0%, 0%),
        65px 15px 65px hsl(218, 35%, 35%), 15px 65px 65px hsl(30, 35%, 35%);
}

/* тени-модули */
:root {
    --white-2xs: inset 0 0.65px 1.5px hsl(220, 10%, 55%), inset 0.65px 0 1.5px hsl(40, 15%, 55%);
    --shadow-2xs: 0 0.5px 1.5px hsl(220, 100%, 10%), 0.5px 0 1.5px hsl(40, 100%, 10%);
    --shadow-s:   5px 15px 15px hsla(220, 100%, 15%, 0.65), 15px 5px 15px hsla(40, 100%, 15%, 0.65);
    --shadow-m:   35px 50px 50px hsla(220, 100%, 15%, 0.65), 50px 35px 50px hsla(40, 100%, 15%, 0.65);
    --shadow-xl:  150px 50px 150px hsla(220, 100%, 5%, 0.15), 50px 150px 150px hsla(40, 100%, 5%, 0.15);
}
