@import url(https://csstools.github.io/normalize.css/11.0.0/normalize.css);
@import url(../css/b);
@import url(../css/mobile.css);

@font-face {
    font-family: "AvantGarde";
    src: url("../assets/fonts/URWGothic-Book.ttf");
}
@font-face {
    font-family: "Santello";
    src: url("../assets/fonts/SANTELLO.ttf");
}

:root {
    --SoftBlack: #101010; /* Задний план */
    --DeepBlue: #1b355b; /* Цвет кнопки при наведении */
    --CosmicLatte: #fff8e7; /* Цвет текста */
}

body {
    background: var(--SoftBlack);
    color: var(--CosmicLatte);
    font-family: Raleway, Helvetica, sans-serif;
    caret-color: transparent;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 75px;
}

section {
    display: inherit;
    grid-column: 1 / -1; /* Растягиваются на все колонки */
    padding: 150px 200px; /* Паддинги внутри секции */
}

/* Типографика */
h1,
h2 {
    grid-column: 1 / 5;
    font-family: AvantGarde, Raleway, sans-serif;
    font-weight: bold;
    font-size: 50pt;
    line-height: 1;
    margin: 0;
}

h3 {
    font-size: 20pt;
}

p {
    font-family: Santello, Raleway;
    font-size: 15pt;
    line-height: 1.35;
    text-indent: -25px;
}

@media screen and (max-width: 720px) {
    * {
        grid-column: 1 / -1;
    }
    body {
        grid-template-columns: repeat(1, 1fr); /* На мобильных — одна колонка */
    }
    section {
        padding: 75px 2em;
    }
    #philosophy p {
        grid-column: 1 / -1;
    }
}
