@import url(https://csstools.github.io/normalize.css/11.0.0/normalize.css);
@import url(buttons.css);
@import url(layout.css);

@font-face {
    font-family: "AvantGarde";
    src: url("../fonts/URWGothic-Book.ttf");
}
@font-face {
    font-family: "Santello";
    src: url("../fonts/SANTELLO.ttf");
}
@font-face {
    font-family: "Unovis100";
    src: url("../fonts/UNOVIS100.otf");
}

:root {
    --SoftBlack: #141414; /* Задний план */
    --DeepBlue: #1b355b; /* Цвет кнопки при наведении */
    --CosmicLatte: #fff8e7; /* Цвет текста */
    --BrightBlue: #1a58ae; /* Цвет ссылки */
    --Golden: #d2a33c; /* Я просто оставлю это здесь */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

/* Глобальная стилизация */
body {
    background: var(--SoftBlack);
    color: var(--CosmicLatte);
    font-family: Santello, Raleway;
    line-height: 1.5;
    caret-color: transparent;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

*,
*:hover {
    transition: 150ms;
}

/* Лейаут */
section {
    padding: 100px 200px;
}
section,
.layout {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    gap: 0.5em 50px;
    max-width: 1400px; /* Избегаем проблем ширины для широкого экрана */
    margin: 0 auto; /* Избегаем проблем ширины для широкого экрана */
}

/* Лейаут: растягиваем блочные элементы по умолчанию на все колонки */
section > h1,
section > h2,
section > h3,
section > p,
section > small,
section > button,
section > div,
.layout > h1,
.layout > h2,
.layout > h3,
.layout > p,
.layout > button,
.layout > div,
.layout > small,
.block {
    grid-column: 1 / -1;
    display: block;
}

/* Типографика */
h1,
h2 {
    font-family: AvantGarde, Raleway;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 0.02rem;
    margin: 0;
}
h3,
h4,
h5,
h6 {
    grid-column: 1 / -1;
    display: block;
    margin: 0.25rem 0 0.5rem 0;
}

h1 {
    font-size: 3rem;
    margin: 2rem 0 0.5rem 0;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0 0.25rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0 0.25rem 0;
}

p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0.25rem 0 1rem 0;
}

/* Семантически правильное меню сайта */
nav {
    grid-auto-flow: row;
}
nav a {
    display: block;
    color: var(--DarkBlue);
    text-decoration: none;
}
nav a:hover {
    color: var(--BrightBlue);
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    margin: 0.5rem 0 0;
}

/* назначай этот стиль лого для сохранения пропорций */
.logo {
    aspect-ratio: 1/1;
    height: auto;
}

/*текстовая врезка с названием секции */
@media screen and (min-width: 801px) {
    .side {
        font-weight: normal;
        width: 0;
        white-space: nowrap;
        font-family: Santello, Raleway;
        font-size: 0.75rem;
        position: absolute;
        right: -100px;
        bottom: 100px;
        rotate: -90deg;
        color: silver;
    }
}

/* Делаю финт ушами над широкоформатом */
@media screen and (min-width: 1400px) {
    p {
        grid-column-start: 3;
    }
}

/* Мобильный лейаут */
@media screen and (max-width: 800px) {
    section {
        display: block;
        padding: 1.5em;
    }
    h1,
    h2 {
        font-size: 2rem;
    }
}
