@import url(https://csstools.github.io/normalize.css/11.0.0/normalize.css);
@import url(https://cdn.jsdelivr.net/npm/bigger-picture@1.1.12/dist/bigger-picture.min.css);
@import url(layout.css);

@import url(layouts/header.css);
@import url(layouts/footer.css);
@import url(layouts/lightbox.css);
@import url(layouts/portfolio.css);

@import url(themes.css);
@import url(typo.css);
@import url(components/lightbox.css);
@import url(components/tokens.css);
@import url(components/ui.css);



/* технические палатки */
html {
    scroll-behavior: smooth;
}
body *,
body *::before,
body *::after {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: unset;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

/* создаю технический класс для скипа элемента в стилизации */
.contents {
    display: contents;
}

img, table {
    max-width: 100%;
    user-select: none;
}

*,
*:hover {
    transition: all 150ms ease;
}
