@import url(https://csstools.github.io/normalize.css/11.0.0/normalize.css);
@import url(../css/buttons.css);

@font-face {
    font-family: "AvantGarde";
    src: url("../fonts/URWGothic-Book.ttf");
}
@font-face {
    font-family: "Santello";
    src: url("../fonts/SANTELLO.ttf");
}

:root {
    --SoftBlack: #101010; /* Задний план */
    --DeepBlue: #1b355b; /* Цвет кнопки при наведении */
    --CosmicLatte: #fff8e7; /* Цвет текста */
}

*,
*::before,
*::after {
    box-sizing: border-box; /* Все элементы учитывают паддинги и бордеры в своей ширине */
}

body {
    background: var(--SoftBlack);
    color: var(--CosmicLatte);
    font-family: Santello, Raleway;
    line-height: 1.5;
    caret-color: transparent;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

section,
.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    row-gap: 0.5em;
    padding: 150px 200px;
    max-width: 1400px; /* Избегаем проблем ширины для широкого экрана */
    margin: 0 auto; /* Избегаем проблем ширины для широкого экрана */
}
/* Растягиваем блочные элементы на все колонки */
section > h1,
section > h2,
section > h3,
section > p,
section > button,
section > div,
.layout > h1,
.layout > h2,
.layout > h3,
.layout > p,
.layout > button,
.layout > div,
.block {
    grid-column: 1 / -1;
    display: block;
}

/* Типографика */
h1,
h2 {
    font-family: AvantGarde, Raleway;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: 0.02rem;
    margin: 0;
}
h3 {
    font-size: 1.5rem;
}

@media screen and (max-width: 720px) {
    section {
        display: block;
        padding: 1.5em;
    }

    h1,
    h2 {
        font-size: 2rem;
    }
}
