/* подключаемый модуль; если типографика не оформлена вручную */

/* врубаем при помощи класса .typo */

.typo * + :is(h1, .h1) {
    margin-top: calc(var(--sectiongap) / 2);
}

.typo * + :is(h2, .h2),
:is(h2, .h2).typo {
    margin-top: 1em;
}
.typo * + :is(h3, .h3) {
    margin-top: 1.25rem;
}
.typo * + :is(
h5, .h5,
h6, .h6, small, .small
){
    margin-top: 0.5rem;
}


.typo :is(h1, .h1) + :is(h2, .h2) {
    margin-top: 0.5em;
}
.typo :is(h2, .h2) + :is(h3, .h3) {
    margin-top: 0.75rem;
}
.typo :is(h3, .h3) + :is(h4, .h4) {
    margin-top: 0.5rem;
}
.typo :is(
h4, .h4,
h5, .h5
) + :is(
h5, .h5,
h6, .h6, small, .small
){
    margin-top: 0.25rem;
}


.typo :is(h1, .h1) + :is(p, .p) {
    margin-top: 1rem;
}
.typo :is(h2, .h2) + :is(p, .p) {
    margin-top: 0.75rem;
}
.typo :is(h3, .h3) + :is(p, .p) {
    margin-top: 0.5rem;
}
.typo :is(
h4, .h4,
h5, .h5,
h6, .h6,
small, .small,
p, .p,
details
) + :is(p, .p, details) {
    margin-top: 0.5rem;
}



.typo :is(h1, .h1, h2, .h2) + :is(fieldset, form, table, ul, ol, dl) {
    margin-top: 1.5rem;
}

.typo :is(h3, .h3, h4, .h4, fieldset, form, table, ul, ol, dl) + :is(fieldset, form, table, ul, ol, dl) {
    margin-top: 1rem;
}

code {
    font-family: Consolas, Santello, Raleway, Arial;
}

.typo
:is(h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
p, .p) + details {
    margin-top: 1em;
}
