:root {
    --SoftBlack: #141414; /* Задний план */
    --DeepBlue: #1b355b; /* Цвет кнопки при наведении */
    --CosmicLatte: #fff8e7; /* Цвет текста */
    --BrightBlue: #1a58ae; /* Цвет ссылки */
    --Golden: #d2a33c; /* Я просто оставлю это здесь */
}

/* тенюшки под текст */
:root {
    --textShadow: 0 0 1em black, 0 0 0.35em black, 0 0 0.5px black;
}

/* Цвета по умолчанию */

body {
    background: var(--SoftBlack);
    color: var(--CosmicLatte);
    caret-color: transparent;
}

/* Цветовые темы */

.white {
    background-color: var(--CosmicLatte);
    color: var(--DeepBlue);
}
.white h1,
.white h2 {
    color: var(--SoftBlack);
}

.blueprint {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px),
        linear-gradient(to right, rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px);
    background-size: 35px 35px;
    background-color: var(--DeepBlue);
    color: silver;
}
.blueprint h1,
.blueprint h2,
.blueprint h3,
.blueprint h4 {
    color: white;
}

.crosses::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/patterns/crossesBlk.svg);
    z-index: -1;
    opacity: 0.65;
}

.glass-morphism {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}


/* ! ПРИМЕНЯЕТ режим наложения ! */

.shadowhuge {
    color: grey;
    text-shadow:
        35px 50px 50px #826a56,
        50px 35px 50px rgba(34, 66, 120, 0.65),
        0 0.5px 1.5px #826a56,
        0.5px 0 1.5px rgba(34, 66, 120, 0.65);
    mix-blend-mode: hard-light;
}

.outline{
    color: grey;
    text-shadow:
        1.5px 1.5px 0 silver,
        -1.5px -1.5px 0 silver,
        -1.5px 1.5px 0 silver,
        1.5px -1.5px 0 silver;
    mix-blend-mode: overlay;
}
