:root {
    --SoftBlack: hsl(0, 0%, 10%); /* Задний план */
    --DeepBlue: hsl(216, 54%, 23%); /* Цвет кнопки при наведении */
    --CosmicLatte: #fff8e7; /* Цвет текста */
    --BrightBlue: hsl(215, 74%, 39%); /* Цвет ссылки */
    --Golden: hsl(40, 65%, 55%); /* Я просто оставлю это здесь */
}

/* тенюшки под текст */
:root {
    --textShadow:
        0 0 0.5px black,
        0.01rem 0.015rem 0.065rem hsl(218, 100%, 1%), 0.015em 0.01rem 0.065rem hsl(30, 100%, 1%),
        0.25rem 0.35rem 0.65rem hsla(218, 100%, 5%, 1), 0.35rem 0.25rem 0.65rem hsla(30, 100%, 5%, 1),
        0.15em 0.35em 1em hsla(218, 100%, 20%, 0.35), 0.35em 0.15em 1em hsla(30, 100%, 20%, 0.35);
    --shadowHuge:
        0.25rem 0.5rem 0.65rem hsla(218, 100%, 25%, 0.35), 0.5rem 0.25rem 0.65rem hsla(30, 100%, 25%, 0.35),
        35px 50px 50px hsla(218, 56%, 30%, 0.65), 50px 35px 50px hsl(30, 20%, 42%),
        0 0.5px 1.5px hsla(218, 56%, 30%, 0.65), 0.5px 0 1.5px hsl(30, 20%, 42%);
}

/* Цвета по умолчанию */

body {
    background: var(--SoftBlack);
    color: var(--CosmicLatte);
    caret-color: transparent;
}

.crosses::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/patterns/crossesBlk.svg);
    z-index: -1;
    opacity: 0.65;
}

.glass-morphism-card,
.glass-morphism {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.glass-morphism-card {
    position: relative;
    left: -1.5rem;
    padding-left: 1.5rem;
    width: calc(100% + 1.5rem);
}

/* ! ПРИМЕНЯЕТ режим наложения ! */

.shadowhuge,
.portfolio-case main article :is(h2, .h2) {
    color: grey;
    text-shadow: var(--shadowHuge);
    mix-blend-mode: hard-light;
}

.outline {
    color: grey;
    text-shadow:
        1.5px 1.5px 0 silver,
        -1.5px -1.5px 0 silver,
        -1.5px 1.5px 0 silver,
        1.5px -1.5px 0 silver;
    mix-blend-mode: overlay;
}

/* БЕЛАЯ ТЕМА */

.white {
    background-color: var(--CosmicLatte);
    color: var(--SoftBlack);
}

.white
    :is(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button,
        .btn,
        .btn:link,
        .btn:visited
    ) {
    color: var(--SoftBlack);
}
.white
    :is(
        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button,
        .btn,
        .btn:link,
        .btn:visited
    )::before {
    border-color: var(--SoftBlack);
}

.white :is(button, .btn, input, button):hover::before,
.white :is(button, .btn):active::before {
    background-color: var(--BrightBlue);
    border-color: transparent;
}

/* СИНЯЯ ТЕМА тип чертеж окда */

.blueprint {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px),
        linear-gradient(to right, rgba(255, 255, 255, 0.05) 1.5px, transparent 1.5px);
    background-size: 35px 35px;
    background-color: var(--DeepBlue);
    color: silver;
}
.blueprint h1,
.blueprint h2,
.blueprint h3,
.blueprint h4 {
    color: white;
}
