/* Типографика */
h1,
h2 {
    font-family: AvantGarde, Raleway;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 0.02rem;
    margin: 0;
}
h3,
h4,
h5,
h6 {
    grid-column: 1 / -1;
    display: block;
    margin: 0.25rem 0 0.5rem 0;
}

h1 {
    font-size: 3rem;
    margin: 2rem 0 0.5rem 0;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0 0.25rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0.5rem 0 0.25rem 0;
}

p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0.25rem 0 1rem 0;
}
a {
    color: cornflowerblue;
}

/* Мобильный лейаут */
@media screen and (max-width: 1000px) {
    h1,
    h2 {
        font-size: 2rem;
    }
}
