/* Кнопки социальных сетей   */

.social,
.social:link,
.social:visited {
    position: relative;
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--CosmicLatte);
    border: solid var(--BrightBlue) 2.5px;
    border-right: none;
    transition: all 0.15s ease;
}

.blue.social,
.white .social {
    background-color: var(--BrightBlue);
    border-color: var(--SoftBlack);
}
:is(.blue.social,
.white .social):hover {
    border-color: var(--Golden);
    border: solid var(--Golden) 0;
}

.social:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 2rem;
    background-color: var(--DeepBlue);
    transition: all 0.15s ease;
}

.social:hover::before {
    content: "";
    width: 100%;
    background-color: var(--BrightBlue);
}
:is(.blue.social,
.white .social):hover::before {
    background-color: var(--Golden);
}

@supports (mask-composite: exclude) {
    .social.tg {
        mask-image: linear-gradient(white, white), url(#tg-mask);
        mask-composite: exclude;
        mask-mode: luminance;
        mask-size: contain;
        mask-position: center;
        mask-origin: content-box;
    }
}

@supports not (mask-composite: exclude) {
    .social.tg::after {
        content: "";
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../../icons/Telegram_black_logo.svg);
    }
}
