/* стандартное оформление для списка карточек */

.cards {
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    gap: var(--columngap);
}
@media (min-width: 768px) and (max-width: 1280px) {
    .cards {
        position: relative;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 var(--columngap);

        background: var(--SoftBlack);
        box-shadow: 15px 15px 25px 25px var(--SoftBlack);
    }
    .cards__item {
        background: url(../../img/patterns/paperTxtr.png);
    }
}
@media (max-width: 640px) {
    .cards {
        flex-direction: column;
    }
}

.cards__item {
    padding: 1.5em calc(var(--columngap) / 2);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    gap: 1em;

    text-align: center;

    box-shadow:
        1vw 2vw 2vw hsla(0, 0%, 0%, 0.65),
        0.65px 1.5px 1.5px black;
}
@supports (mix-blend-mode: hard-light) {
    .cards__item {
        box-shadow: none;
        position: relative;
    }
    .cards__item::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        box-shadow:
            var(--white-2xs),
            var(--shadow-2xs),
            var(--shadow-s);
        mix-blend-mode: hard-light;
    }
}

.cards__list {
  position: relative;

    list-style-type: none;
    padding-left: 1em;
}
@media (max-width: 768px) {
    .cards__list {
        margin: auto;
    }
}

.cards__list-item {
    text-align: left;
}
.cards__list-item::before {
    content: "•";
    position: absolute;
    left: 0;
}

.cards__btn {
    align-self: center;
    justify-self: flex-end;
}
