/* Стандартная кнопка с логотипом */
.logo {
    display: inline-block;
    aspect-ratio: 1/1;
    height: auto;
    width: 24px;
    background-image: url(../../icons/Kc_logo_full_logo_raster_dk.png);
    filter: drop-shadow(0 0 1.5px rgba(0, 0, 0, 0.65));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 64px;
        background-size: 32px 32px;
    }
}
