@import url(buttons.css);
@import url(buttons-social.css);
@import url(cards.css);
@import url(input.css);
@import url(logo.css);
@import url(message.css);
@import url(side-text.css);
@import url(ui.css);






hr {
    border: solid 1.5px hsla(0, 0%, 0%, 0.35);
    margin: 1rem 0;
}



table td, table th {
    text-align: left;
    vertical-align: top;
}

td + td,
th + td {
    padding-left: var(--columngap);
}



dl {
    gap: var(--columngap);
}

@media (max-width: 1080px) {
    .case article dl {
        grid-template: unset;
        row-gap: 0.5em;
    }
    .case article dl dd + dt {
        margin-top: 1em;
    }
}

dl dt {
    grid-column: 1;
}

dl dd {
    grid-column-start: 2;
    margin: 0;
}
