.header__breadcrumbs {
    padding: var(--sectiongap) var(--padding);
}
.header,
.header__breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.breadcrumbs__list {
    flex-direction: row-reverse;
}
.breadcrumbs__level {
    display: none;
    list-style: none;
}
.breadcrumbs__level::before {
    content: "/";
    margin: 0 1em;
}

.breadcrumbs__level::before,
.breadcrumbs__level::after,
header nav ul::before,
header nav ul::after {
    color: slategray;
    text-shadow: var(--textShadow);
}


.breadcrumbs__link:link,
.breadcrumbs__link:visited {
    color: slategray;
}
.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
    color: cornflowerblue;
}
.breadcrumbs__link:active {
    color: var(--CosmicLatte);
}
/*
header nav ul li:nth-child(1) {
    display: inline;
}
header nav ul li:nth-child(1) a::before {
    content: "на уровень выше";
}
*/
