---
layout: default
title: Портфолио
class: portfolio
---
<h1 class="side">Портфолио</h1>
{% for case in site.portfolio reversed %}
  <a class="card"
  href="{{ case.url | relative_url }}"
  {% if case.size %}
   class="size{{ case.size }}"
  {% endif %}
  {% if case.thumbnail %}
  style='background:
    url("{{ case.thumbnail | relative_url }}") center/cover;'
  {% endif %}
  >
    <div class="cover"
  {% if case.thumbnail %}
  style='background:
    url("{{ case.thumbnail | relative_url }}") center/cover;'
  {% endif %}>

  {% if case.keyvisual %}
  <img src="{{ case.keyvisual | relative_url }}" alt="{{ case.title }}">
  {% endif %}      <p>{{ case.description }}</p></div>

  <p class="cardname">{{ case.description }}</p>

  {% if case.keyvisual %}
  <img class="keyvisual" src="{{ case.keyvisual | relative_url }}" alt="{{ case.title }}">
  {% endif %}
</a>
{% endfor %}
