header,
header nav,
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header nav ul {
    padding-left: 0.15rem;
    flex-direction: row-reverse;
}
header nav ul li {
    display: none;
    list-style: none;
}
header nav ul li::before {
    content: "/";
}
header nav ul li::before,
header nav ul li::after {
    padding: 0 1rem;
}

header nav ul li::before,
header nav ul li::after,
header nav ul::before,
header nav ul::after {
    color: slategray;
    text-shadow: var(--textShadow);
}

header nav ul li a:link,
header nav ul li a:visited {
    color: slategray;
}
header nav ul li a:hover,
header nav ul li a:focus {
    color: cornflowerblue;
}
header nav ul li a:active {
    color: var(--CosmicLatte);
}
/*
header nav ul li:nth-child(1) {
    display: inline;
}
header nav ul li:nth-child(1) a::before {
    content: "на уровень выше";
}
*/
