@import url(input.css);

/* Стандартная кнопка с логотипом */
.logo {
    display: inline-block;
    aspect-ratio: 1/1;
    height: auto;
    width: 24px;
    background-image: url(../../icons/Kc_logo_full_logo_raster_dk.png);
    filter: drop-shadow(0 0 1.5px rgba(0, 0, 0, 0.65));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 50px;
    }
}



/* Side Text */

@media (min-width: 769px) {
    .side-text {
        position: absolute;
        right: calc(var(--padding) / -2 + 1rem);
        bottom: var(--sectiongap);
        width: 0;
        height: 0;
        font-family: Santello, Raleway;
        font-weight: normal;
        font-size: 0.75rem;
        white-space: nowrap;
        rotate: -90deg;
        color: slategray;
        z-index: 2;
        cursor: vertical-text;
    }
}
@media (max-width: 768px) {
    .side-text {
        position: absolute;
        right: 0; bottom: calc(var(--sectiongap) / 2);
        color: rgba(0, 0, 0, 0.65);
        font-family: Unovis100;
    }
}
*:has(.side-text) {
    position: relative;
}
.white .side-text {
    color: var(--Golden);
}



hr {
    border: solid 1.5px hsla(0, 0%, 0%, 0.35);
    margin: 1rem 0;
}



table td, table th {
    text-align: left;
    vertical-align: top;
}

td + td,
th + td {
    padding-left: var(--columngap);
}



dl {
    margin-top: calc(var(--sectiongap) / 2);
    gap: calc(var(--sectiongap) / 3);
}

@media (max-width: 1080px) {
    .case article dl {
        grid-template: unset;
        row-gap: 0.5em;
    }
    .case article dl dd + dt {
        margin-top: 1em;
    }
}

dl dt {
    grid-column: 1;
}

dl dd {
    grid-column-start: 2;
    margin: 0;
}
