@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: #e68600;
}

body.DHmerch main article {
    font-family: Roboto, Santello;
}

body.DHmerch figure.detail {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--columngap);
    align-items: center;
}

body.DHmerch p + figure.detail {
    margin-top: var(--sectiongap);
}

body.DHmerch figure.detail + figure.detail {
    margin-top: calc(var(--sectiongap) / 3);
}

body.DHmerch figure.detail:nth-last-of-type(1) {
    margin-bottom: var(--sectiongap);
}

body.DHmerch figure.detail :is(object, img, figcaption, div) {
    display: block;
}

body.DHmerch figure.detail :is(object, img) {
    height: fit-content;
    max-width: 15%;
}

body.DHmerch figure.detail div.infographic {
    max-width: 65%;
}

body.DHmerch figure.detail img {
    background-color: #2e2e2e;
}

body.DHmerch figure.detail figcaption {
    position: static;
    min-width: 10em;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

body.DHmerch figure.detail figcaption .side {
    bottom: 0;
    color: #e68600;
    left: calc(0px - var(--padding) / 2);
}

body.DHmerch .side {
    letter-spacing: 0.02em;
}

body.DHmerch .userProfile > .userName {
    font-family: Roboto;
}
