---
layout: default
---

<main class="case__main">

  <h1
      {% if page.cover %}
      class="cover" style="background: url({{ page.cover | relative_url }}) center"
      {% elsif page.thumbnail %}
      class="cover" style="background: url({{ page.thumbnail | relative_url }})"
      {% endif %}
      >{{ page.title }}</h1>

  <time class="side-text" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d.%m.%Y" }}</time>



{% if page.images %}
<div class="case__gallery">
  <div class="case__gallery-track">
    {% for image in page.images %}
    <div class="case__gallery-item"><img src="{{ image | relative_url }}" alt="{{ page.exerpt }}" /></div>
    {% endfor %}
  </div>
</div>
{% endif %}

  <article class="case__content">
    {{ content }}
  </article>

</main>

{% if page.tgID %}
  <section aria-label="Комментарии" class="case__comments white">
    <h2 class="card__label">Обсуждение</h2>
    <div class="tg-link-wrapper"><a class="social tg" href="https://t.me/katisobol"></a></div>
    <script
      async
      src="https://telegram.org/js/telegram-widget.js?22"
      data-telegram-discussion="katisobol/{{ page.tgID }}"
      data-comments-limit="15"
      data-color="194cb3"
      data-dark-color="1a1a1a"></script>
  </section>
{% endif %}

<aside class="portfolio">
  <div class="portfolio__also"><h2 class="small">Смотрите также</h2></div>
  {% include portfolio.html %}
</aside>

<script src="{{ '/scripts/case/double-content.js' | relative_url }}"></script>
<script src="{{ '/scripts/case/fullslide_animlength.js' | relative_url }}"></script>
