---
layout: default
---

<main>

  <h1
      {% if page.cover %}
      class="cover" style="background: url({{ page.cover | relative_url }})"
      {% elsif page.thumbnail %}
      class="cover" style="background: url({{ page.thumbnail | relative_url }})"
      {% endif %}
      >{{ page.title }}</h1>

  <time class="side-text" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%d.%m.%Y" }}</time>



{% if page.images %}
<div class="gallery white">
  {% for image in page.images %}
  <img src="{{ image | relative_url }}" alt="" />
  {% endfor %}
</div>
{% endif %}

  <article>
    {{ content }}
  </article>



  <section class="thanks white">
      <h2>Спасибо за внимание!</h2>
    </section>

</main>

<aside class="portfolio">
  <div class="portfolio-card"><p>Смотрите также:</p></div>
  {% include portfolio.html %}
</aside>
