<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title }} | {% endif %}Лаборатория визуальной коммуникации</title>
        <link rel="icon" type="image/x-icon" href="https://katisobol.github.io/sobolstudio/Kc_logo_full.svg" />
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
        {% if page.extra_css %}
            {% for css in page.extra_css %}
            <link rel="stylesheet" href="{{ css | relative_url }}">
            {% endfor %}
        {% endif %}
        <!-- Специфичные стили в зависимости от layout -->

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet" />
    </head>
    <body>
        {% include header.html %}
        {{ content }}
    </body>
</html>
