<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.title %}{{ page.title }} | {% endif %}Лаборатория визуальной коммуникации</title>
        {% assign description = page.metadescription | default: page.excerpt | default: page.title %}
        {% if description %}
            <meta name="description" content="{{ description | strip_html | normalize_whitespace }}">
        {% endif %}


        <link rel="icon" type="image/x-icon" href="https://katisobol.github.io/sobolstudio/Kc_logo_full.svg" />
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

        {% if page.extra_css %}
            {% for css in page.extra_css %}
        <link rel="stylesheet" href="{{ css | relative_url }}">
            {% endfor %}
        {% endif %}

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet" />
    </head>
    <body {% if page.extra_css %}
            {% assign css_classes = "" %}
                {% for css_file in page.extra_css %}
                    {% assign file_name = css_file | split: '/' | last | split: '.' | first %}
                    {% capture css_classes %}{{ css_classes }} {{ file_name }}{% endcapture %}
                {% endfor %}
           class="{{ css_classes | strip }}"
          {% endif %}
    onload="onPageLoaded()">


        {% include header.html %}
        {{ content }}
</body>

</html>
